<!DOCTYPE html>
<html>
<head>
<title>MyBoard Blog</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
<link href="/css/app.css" rel="stylesheet" media="screen" />

</head>
<body ng-app="myboardApp" class="ng-cloak">

	<!-- template: https://getbootstrap.com/examples/blog/ -->
	<div class="container" ng-controller="PostController as ctrl">

		<div class="blog-header">
			<h1 class="blog-title">MyBoard</h1>
			<p class="lead blog-description">Exemplo de uso do Docker com Spring Boot, entre outras buzzwords!</p>
		</div>

		<div class="row">
			<div class="col-sm-8 blog-main">
				<div class="blog-post" ng-repeat="post in ctrl.posts">
					<h2 class="blog-post-title">{{post.titulo}}t</h2>
					<p class="blog-post-meta">
						by <a href="#">{{post.autor}}</a>
					</p>
					<p>{{post.texto}}</p>
					<hr/>
				</div>
			</div>
		</div>

		<script
			src="http://cdn.jsdelivr.net/webjars/angularjs/1.4.9/angular.min.js"></script>
		<script type="text/javascript" src="/js/app.js"></script>
</body>
</html>

<!--
</head>

<body ng-app="linkApp">
<div ng-controller="LinkController">
    <div class="center input-group">
        <input type="text" ng-model="longUrl" class="form-control" id="longUrl"
               placeholder="Enter a link to shorten it"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="shorten(longUrl)">Shorten!</button>
      </span>
    </div>

    <div id="result" ng-show="link">
        You can get to your submitted URL through:
        <a ng-href="{{link.shortUrl}}">{{link.shortUrl}}</a>
    </div>

</div>
</body>
</html>
-->