<!DOCTYPE html>
<html>
<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link href="/css/app.css" th:href="@{/css/app.css}" rel="stylesheet" media="screen"/>

</head>
<body>

<div class="container">
    <h1>Test</h1>
</div>

<script src="http://cdn.jsdelivr.net/webjars/angularjs/1.4.9/angular.min.js"
        th:src="@{/webjars/angularjs/1.4.9/angular.min.js}"></script>
<script type="text/javascript" src="/js/app.js" th:src="@{/js/app.js}"></script>

</body>
</html>

<!--
</head>

<body ng-app="linkApp">
<div ng-controller="LinkController">
    <div class="center input-group">
        <input type="text" ng-model="longUrl" class="form-control" id="longUrl"
               placeholder="Enter a link to shorten it"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="shorten(longUrl)">Shorten!</button>
      </span>
    </div>

    <div id="result" ng-show="link">
        You can get to your submitted URL through:
        <a ng-href="{{link.shortUrl}}">{{link.shortUrl}}</a>
    </div>

</div>
</body>
</html>
-->